/* CSS */

html, body {
    font-family: 'Courier', sans-serif;
    font-weight: normal;
    font-style: normal;
    background-image: url("placeholder.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    height: 100%;
    min-height: 100vh; /* Ensures at least full viewport height */
    margin: 5; /* Removes default margin */
    padding: 5; /* Removes default padding */
}

nav {
    background: rgba (#333, 0);
    text-align: left;
    
}
nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;  
}
nav ul li {
    background: rgba (#333, 0);
    display: inline;
    margin: 0;
    text-align: center;
}
nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 8px;
    display: block;
    background: rgba (#333, 0);
}
.main-header {
    background: rgba (#333, 0);
    text-align: center;
    color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 0, 0);
}
.left-header {
    background: rgba (#333, 0);
    text-align: left;
    color: white;
}
aside .alt-panel{
    background-color: #333;
    text-align: center;
    color: white;
    padding: 5px;
    margin: 5px;
    float: right;
    width: 20%;
}
.update-header {
    background: rgba (#333, 0);
    border-style: solid;
    border-width: 5px;
    border-color: rgb(3, 3, 3);
    text-align: center;
    color: rgb(0, 0, 0);
}
footer {
    background: rgba (#333, 0);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    padding: 5px;
    margin: 5px;
    clear: both;
}
